/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/
.marquee {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ccc;
}
.container-12 .grid-3 
{
	display: block !important;
}

.theme-default .nivoSlider {
	position:relative;
 /*	background:#fff url('images/icons/loading.gif') no-repeat center;
   margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;*/
	min-height:100px;
	min-width:50px;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	  cursor: pointer;
    float: right;
    padding: 0;
    position: relative;
    right: 10%;
    text-align: center;
    bottom:25px;
    width: 235px;
    z-index: 9;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url('images/bullets.png') no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url('images/arrows.png') no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 1;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:8%;
	bottom:1%;
}
.theme-default a.nivo-prevNav {
	right:28%;
	bottom:1%;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
	padding-left:4%;
/*	min-height:130px;*/
}
.theme-default .nivo-caption h1{margin:0 0 0px;line-height:36px; font-size:30px;}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

.theme-default .g-10{width:100%}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
.theme-default a.nivo-nextNav {
	right:15px;
}
.theme-default a.nivo-prevNav {
	right:35%;
}
.theme-default .nivo-controlNav{right:5%}
}

@media only screen and (max-width: 767px)
{
.theme-default a.nivo-nextNav {
	right:7%;
}
.theme-default a.nivo-prevNav {
	right:44%;
}
}
@media only screen and (max-width: 479px)
{
.theme-default a.nivo-nextNav {
	right:6%;
}
.theme-default a.nivo-prevNav {
	right:70%;
}
}