html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

.container-12 {width: 1180px; margin:0 auto;}
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12{display:inline; float: left; position: relative; margin-left: 5px;margin-right: 5px;}
.alpha {margin-left: 0;}
.omega {margin-right: 0;}
.container-12 .grid-1 {width:80px;}
.container-12 .grid-2 {width:180px;}
.container-12 .grid-3 {width:280px;}
.container-12 .grid-4 {width:380px;}
.container-12 .grid-5 {width:480px;}
.container-12 .grid-6{width:580px;}
.container-12 .grid-7 {width:680px;}
.container-12 .grid-8 {width:780px;}
.container-12 .grid-9 {width:880px;}
.container-12 .grid-10 {width:980px;}
.container-12 .grid-11 {width:1080px;}
.container-12 .grid-12 {width:1180px;}

/* 960px Desktop */
@media only screen and (min-width: 1024px) and (max-width: 1279px){
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12{display:inline; float: left; position: relative; margin-left: 10px;margin-right: 10px;}
.container-12{width: 960px;}
.container-12 .grid-1 {width:60px;}
.container-12 .grid-2 {width:140px;}
.container-12 .grid-3 {width:220px;}
.container-12 .grid-4 {width:300px;}
.container-12 .grid-5 {width:380px;}
.container-12 .grid-6 {width:460px;}
.container-12 .grid-7 {width:540px;}
.container-12 .grid-8 {width:620px;}
.container-12 .grid-9 {width:700px;}
.container-12 .grid-10 {width:780px;}
.container-12 .grid-11 {width:860px;}
.container-12 .grid-12 {width:940px;}
}

/* 768px Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 1023px){
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12{display:inline;  position: relative; margin-left: 10px;margin-right: 10px;}
.container-12 {width: 768px;}
.container-12 .grid-1 {width:44px;}
.container-12 .grid-2 {width:108px;}
.container-12 .grid-3 {width:172px;}
.container-12 .grid-4 {width:236px;}
.container-12 .grid-5 {width:300px;}
.container-12 .grid-6 {width:364px;}
.container-12 .grid-7 {width:428px;}
.container-12 .grid-8 {width:492px;}
.container-12 .grid-9 {width:556px;}
.container-12 .grid-10 {width:620px;}
.container-12 .grid-11 {width:684px;}
.container-12 .grid-12 {width:748px;}
}

/* 480px Mobile (Landscape) */
@media only screen and (min-width: 480px) and (max-width: 767px){
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12{display:inline; float: left; position: relative; margin-left: 10px;margin-right: 10px;}
.container-12{width:480px;}
.alpha .alpha,.omega .alpha {margin-right:0;}
.alpha .omega,.omega .omega {margin-left:0;}
.container-12 .grid-1, .container-12 .grid-2, .container-12 .grid-3, .container-12 .grid-4, .container-12 .grid-5, .container-12 .grid-6, .container-12 .grid-7, .container-12 .grid-8, .container-12 .grid-9, .container-12 .grid-10, .container-12 .grid-11, .container-12 .grid-12{width:460px;margin:0 10px}
.container-12 .grid-3 {width:220px;}
.container-12 .grid-9 {width:100%;display:block;clear:both}
.container-12 .grid-12{460px}

.inner .container-12 .grid-3 {width:180px;}
.inner .container-12 .grid-9 {width:260px;display:inline;clear:none}
.inner .container-12 .grid-12{460px}
}

/* 320px Mobile (Portrait) */
@media only screen and (max-width: 479px){
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12{display:inline; float: left; position: relative; margin-left: 10px;margin-right: 10px;}
.container-12{width: 300px;}
.alpha .alpha,.omega .alpha { margin-right:0 }
.alpha .omega,.omega .omega { margin-left:0 }
.container-12 .grid-1, .container-12 .grid-2, .container-12 .grid-3, .container-12 .grid-4, .container-12 .grid-5, .container-12 .grid-6, .container-12 .grid-7, .container-12 .grid-8, .container-12 .grid-9, .container-12 .grid-10, .container-12 .grid-11, .container-12 .grid-12{width:300px;margin:0}
}

/* 240px Mobile (Portrait) */
@media only screen and (max-width: 319px){
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12{display:inline; float: left; position: relative; margin-left: 10px;margin-right: 10px;}
.container-12{width: 226px;}
.alpha .alpha,.omega .alpha { margin-right:0 }
.alpha .omega,.omega .omega { margin-left:0 }
.container-12 .grid-1, .container-12 .grid-2, .container-12 .grid-3, .container-12 .grid-4, .container-12 .grid-5, .container-12 .grid-6, .container-12 .grid-7, .container-12 .grid-8, .container-12 .grid-9, .container-12 .grid-10, .container-12 .grid-11, .container-12 .grid-12{width:226px;margin:0}
}
	
.clear{clear:both; display:block; height:0; overflow:hidden; visibility:hidden; width:0;}
.clearfix:before,.clearfix:after, .container-12:after{content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.clearfix:after, .container-12:after{clear:both;}
.clearfix {zoom: 1;}
img, object, embed {max-width:100%;}
img {height:auto;}
img.scale, img.responsive {max-width: 100%;	height: auto;}