body {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  color: #000;
  background-color: #fff;
  font-family: arial,sans-serif;
  font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #369;
}
a:visited {
  color: #369;
}
a:hover {
  color: #369;
  text-decoration: underline;
}

a.red:link {
  color: #dd0000;
}
a.red:visited {
  color: #dd0000;
}
a.red:hover {
  color: #dd0000;
  text-decoration: underline;
}

a.green:link {
  color: green;
}
a.green:visited {
  color: green;
}
a.green:hover {
  color: green;
  text-decoration: underline;
}

table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
fieldset {
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 10px;
}

input,select {
	font-size: 1.1em;
}
.form-item {
  margin-top: 1em;
  margin-bottom: 1em;
}
form {
  margin: 0;
  padding: 0;
}
.form-item input.error, .form-item textarea.error {
  border: 2px solid #dd0000;
}
.form-item .description {
  font-size: 0.85em;
}
.form-item label {
  font-weight: bold;
}
.form-item label.option {
  font-weight: normal;
}
.form-submit {
  margin: 0.5em 0;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  background-color: #fff5f5;
  border-color: #dd0000;
}

TD{
font-size: 1.0em;
color: #000;
}
TD.boxhead {
font-size: 1.0em;
color: #000;
font-weight: bold;
background-color: #ccc;
border-top: 1px solid #eee;
border-bottom: 1px solid #888;
}
TD.boxbody {
font-size: 1.0em;
color: #000;
background-color: #fff;
}
TD.boxbody2 {
color: #000;
background-color: #eee;
border-top: 1px solid #eee;
border-bottom: 1px solid #ccc;
}

TD.menuhead {
font-size: 1.0em;
color: #000;
background-color: #ccc;
border-top: 1px solid #eee;
border-bottom: 1px solid #888;
}
TD.menu {
color: #000;
background-color: #eee;
border-bottom: 1px solid #ddd;
}

TD.menu_selected {
color: #000;
background-color: #9cf;
border-bottom: 1px solid #eee;
}

.content {
margin-left: 15px;
margin-right: 15px;

}