a.white-btn {
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 0.85em;
	margin-top: 1.25em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.white-btn:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}
a.color-btn, form.customform button.color-btn {
	background: none;
	border: 1px solid #001925;
	border-radius: 3px;
	color: #001925;
	display: block;
	font-size: 0.85em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.color-btn:hover, form.customform button.color-btn:hover {
	border: 1px solid #92c500;
	color: #92c500;
}
#topbar {
	background: none repeat scroll 0 0 #0066cc;
	border-bottom: 1px solid #001925;
	padding: 0.3125em 0;
}
#topbar p {
	color: #fff;
	font-size: 1.15em;
	opacity: 0.5;
	position: relative;
	top: 2px;
}
#topbar p strong {
	font-weight: 600;
}
#topbar i {
	color: #ffffff;
	font-size: 1.1em;
	opacity: 0.5;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
#topbar i:hover {
	color: #92c500;
	cursor: pointer;
	opacity: 1;
}
nav {
	background: none repeat scroll 0 0 #006;
}
header {
	border-bottom: 4px solid rgb(255, 203, 39);
	position: fixed;
	width: 100%;
	z-index: 10;
}
p.logo {
	color: #fff;
	font-size: 1.15em;
	font-weight: 200;
	position:relative;
	text-transform: uppercase;
	top: 0.625em;
}
p.logo strong {
	font-weight: 700;
}
.top-nav li a {
	border-top: 2px solid #00283a;
	color: #fff;
	font-size: 1em;
	font-weight: 600;
	padding: 0.825em 1.25em;
	text-transform: uppercase;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
.top-nav li a:hover, .top-nav li.active-item a {
	background: none repeat scroll 0 0 #00283a;
	border-top: 2px solid #0066CC;
	color: #FFCB27;
	position: relative;
}
#carousel .text {
	position: absolute;
	top: 40%;
	z-index: 10;
}
.item {
	overflow: hidden;
	width: 100%;
}
.prev-arrow, .next-arrow {
	background: none repeat scroll 0 0 #00283a;
	cursor: pointer;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 1px;
	text-align: center;
	width: 30px;
}

#carousel .text h2 {
	background: none repeat scroll 0 0 rgba(146, 197, 0, 0.8);
	color: #fff;
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	margin: 1px 0;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
}
#carousel .text p {
	background: none repeat scroll 0 0 #00283a;
	color: #fff;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
}
#carousel .owl-theme .owl-controls {
	background: none repeat scroll 0 0 rgba(0, 40, 58, 0.53);
	bottom: 0;
	margin: 0;
	padding: 0.625em 0;
	position: absolute;
	width: 100%;
}
.owl-theme .owl-controls .owl-page span {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 3px solid rgba(0, 40, 58, 0.57);
	height: 18px;
	margin: 0 0.3125em;
	opacity: 1;
	width: 18px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: none repeat scroll 0 0 #92c500;
}
#first-block {
	background: none repeat scroll 0 0 #00283a;
	padding: 1em 2em;
	text-align: center;
}
#first-block h1 {
	color: #fff;
	font-size: 2em;
	font-weight: 300;
	margin-top: 0;
}
#first-block p {
	color: #6c7c84;
	font-size: 0.85em;
}
#features {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 1em 2em;
	position: relative;
	text-align: center;
	z-index: 2;
}
#features i {
	background: none repeat scroll 0 0 #92c500;
	border-radius: 100px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3) inset;
	color: #fff;
	display: inline-block;
	font-size: 2em;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 100px;
}
#features h2 {
	font-size: 1em;
	font-weight: 600;
	margin: 1.25em 0;
	text-transform: uppercase;
}
#features p {
	color: #777;
	font-size: 0.85em;
	line-height: 1.5em;
}
#about-us {
	background: none repeat scroll 0 0 #6f9600;
	clear: both;
}
#about-us:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
#about-us article {
	padding: 4em;
}
article h2 {
	font-size: 4em;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 0.9;
	margin: 0 0 0.625em 0
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	color: #fff;
}
.media-container {
  overflow: hidden;
}
.media-container video, .media-container img {
  display: block;
  height: 100%;
  max-width: none;
  min-width: 100%;
  width: auto;
}
article p, article li {
	color: #fff;
	font-size: 0.85em;
	opacity: 0.7;
}
article ul {
	padding: 1.25em 0;
}
article ul li {
	list-style-type: none;
	margin: 0.625em 0;
	padding: 0 0 0 1em;
}
article ul li:before {
	background: #00283a none repeat scroll 0 0;
	color: #fff;
	content: "\f006";
	display: inline-block;
	font-family: "mfg";
	font-size: 0.8em;
	height: 20px;
	line-height: 20px;
	margin-left: -1em;
	margin-right: 0.625em;
	text-align: center;
	width: 20px;
}
.about-us-icons i {
	border: 2px solid #92c500;
	border-radius: 100px;
	color: #92c500;
	display: block;
	float: left;
	font-size: 1.6em;
	height: 60px;
	line-height: 60px;
	margin-right: 0.625em;
	text-align: center;
	width: 60px;
}
.about-us-icons {
	display: block;
	margin-top: 2em;
}
h2.section-title:after {
	background: #dedede none repeat scroll 0 0;
	content: "";
	display: block;
	height: 1px;
	margin: 0.31225em auto 0;
	position: relative;
	width: 100px;
}
h2.section-title {
	color: #;
	font-size: 1.75.8em;
	font-weight: 700;
	letter-spacing: -1px;
	/*margin: 0 0 1.25em;*/
	text-align: center;
	text-transform: uppercase;
}
#our-work {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 2em 2em;
	position: relative;
	z-index: 2;
}
.tab-item {
	background: #fff none repeat scroll 0 0;
	margin-top: 1.25em;
	padding: 1.25em 0;
}
.our-work-container {
	display: block;
	height: 100%;
	position: relative;
}
.our-work-text {
	background: #00283a none repeat scroll 0 0;
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	padding: 1.25em;
	position: absolute;
	right: 0;
	text-align: center;
	transition: opacity 0.20s linear 0s;
	-o-transition: opacityd 0.20s linear 0s;
	-ms-transition: opacity 0.20s linear 0s;
	-moz-transition: opacity 0.20s linear 0s;
	-webkit-transition: opacity 0.20s linear 0s;
	width: 100%;
}
.our-work-container:hover > .our-work-text {
	opacity: 1;
}
.our-work-text h4 {
	color: #fff;
	font-size: 1em;
	font-weight: 600;
}
.our-work-text p {
	color: #fff;
	font-size: 0.8em;
	opacity: 0.7;
}
.tab-nav {
	display: table;
}
a.tab-label, a.tab-label:link, a.tab-label:visited {
	background: #00283a none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 1em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.tab-label:hover, a.tab-label.active-btn {
	background: #92c500;
	color: #fff;
}
#our-facilities{
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	z-index: 2;
}
.tab-item {
	background: #fff none repeat scroll 0 0;
	margin-top: 1.25em;
	padding: 1.25em 0;
}
.our-facilities-container {
	display: block;
	height: 100%;
	position: relative;
}
.our-facilities-text {
	background: #00283a none repeat scroll 0 0;
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	padding: 1.25em;
	position: absolute;
	right: 0;
	text-align: center;
	transition: opacity 0.20s linear 0s;
	-o-transition: opacityd 0.20s linear 0s;
	-ms-transition: opacity 0.20s linear 0s;
	-moz-transition: opacity 0.20s linear 0s;
	-webkit-transition: opacity 0.20s linear 0s;
	width: 100%;
}
.our-facilities-container:hover > .our-work-text {
	opacity: 1;
}
.our-facilities-text h4 {
	color: #fff;
	font-size: 1em;
	font-weight: 600;
}
.our-facilities-text p {
	color: #fff;
	font-size: 0.8em;
	opacity: 0.7;
}
.tab-nav {
	display: table;
}
a.tab-label, a.tab-label:link, a.tab-label:visited {
	background: #00283a none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 1em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.tab-label:hover, a.tab-label.active-btn {
	background: #92c500;
	color: #fff;
}
#our-faculty{
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	z-index: 2;
}
.tab-item {
	background: #fff none repeat scroll 0 0;
	margin-top: 1.25em;
	padding: 1.25em 0;
}
.our-faculty-container {
	display: block;
	height: 100%;
	position: relative;
}
.our-faculty-text {
	background: #00283a none repeat scroll 0 0;
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	padding: 1.25em;
	position: absolute;
	right: 0;
	text-align: center;
	transition: opacity 0.20s linear 0s;
	-o-transition: opacityd 0.20s linear 0s;
	-ms-transition: opacity 0.20s linear 0s;
	-moz-transition: opacity 0.20s linear 0s;
	-webkit-transition: opacity 0.20s linear 0s;
	width: 100%;
}
.our-faculty-container:hover > .our-work-text {
	opacity: 1;
}
.our-faculty-text h4 {
	color: #fff;
	font-size: 1em;
	font-weight: 600;
}
.our-faculty-text p {
	color: #fff;
	font-size: 0.8em;
	opacity: 0.7;
}
.tab-nav {
	display: table;
}
a.tab-label, a.tab-label:link, a.tab-label:visited {
	background: #00283a none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 1em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.tab-label:hover, a.tab-label.active-btn {
	background: #92c500;
	color: #fff;
}
#our-placements{
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	z-index: 2;
}
.tab-item {
	background: #fff none repeat scroll 0 0;
	margin-top: 1.25em;
	padding: 1.25em 0;
}
.our-placements-container {
	display: block;
	height: 100%;
	position: relative;
}
.our-placements-text {
	background: #00283a none repeat scroll 0 0;
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	padding: 1.25em;
	position: absolute;
	right: 0;
	text-align: center;
	transition: opacity 0.20s linear 0s;
	-o-transition: opacityd 0.20s linear 0s;
	-ms-transition: opacity 0.20s linear 0s;
	-moz-transition: opacity 0.20s linear 0s;
	-webkit-transition: opacity 0.20s linear 0s;
	width: 100%;
}
.our-placements-container:hover > .our-work-text {
	opacity: 1;
}
.our-placements-text h4 {
	color: #fff;
	font-size: 1em;
	font-weight: 600;
}
.our-placements-text p {
	color: #fff;
	font-size: 0.8em;
	opacity: 0.7;
}
.tab-nav {
	display: table;
}
a.tab-label, a.tab-label:link, a.tab-label:visited {
	background: #00283a none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 1em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.tab-label:hover, a.tab-label.active-btn {
	background: #92c500;
	color: #fff;
}



#services {
	background: #0066CC none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 2em 2em;
}
#services h2 {
	color: #fff;
	/*margin: 0 0 1.25em;*/
}
#services h2.section-title:after {
	background: #fff none repeat scroll 0 0;
}
#services i {
	background: none repeat scroll 0 0 #fff;
	border-radius: 80px;
	color: #6f9600;
	display: block;
	float: left;
	font-size: 1.8em;
	height: 80px;
	line-height: 80px;
	margin-right: 0.625em;
	text-align: center;
	width: 80px;
}
.service-text {
	display: table;
	position: relative;
}
#services h3 {
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
#services p {
	color: #fff;
	font-size: 0.8em;
}
#latest-news {
	background: #f3f3f3 none repeat scroll 0 0;
	box-shadow: 0px -10px 9px -11px rgba(0, 0, 0, 0.5);
	padding: 1em em;
	position: relative;
	z-index: 3;
}
.news-date {
	background: #6f9600 none repeat scroll 0 0;
	clear: both;
	color: #fff;
	display: block;
	float: none;
	height: 125px;
	padding: 0.625em 0;
	text-align: center;
	width: 100%;
}
.day {
	font-size: 2.5em;
	font-weight: 700;
}
.month, .year {
	font-size: 0.85em;
}
.news-text {
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	height: 125px;
	padding: 0.625em 1.25em;
}
.news-text p {
	color: #777;
	font-size: 0.85em;
}
#our-reserach{
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	z-index: 2;
}
.tab-item {
	background: #fff none repeat scroll 0 0;
	margin-top: 1.25em;
	padding: 1.25em 0;
}
.our-reserach-container {
	display: block;
	height: 100%;
	position: relative;
}
.our-reserach-text {
	background: #00283a none repeat scroll 0 0;
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	padding: 1.25em;
	position: absolute;
	right: 0;
	text-align: center;
	transition: opacity 0.20s linear 0s;
	-o-transition: opacityd 0.20s linear 0s;
	-ms-transition: opacity 0.20s linear 0s;
	-moz-transition: opacity 0.20s linear 0s;
	-webkit-transition: opacity 0.20s linear 0s;
	width: 100%;
}
.our-reserach-container:hover > .our-work-text {
	opacity: 1;
}
.our-reserach-text h4 {
	color: #fff;
	font-size: 1em;
	font-weight: 600;
}
.our-reserach-text p {
	color: #fff;
	font-size: 0.8em;
	opacity: 0.7;
}
.tab-nav {
	display: table;
}
a.tab-label, a.tab-label:link, a.tab-label:visited {
	background: #0066CC none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 1em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.tab-label:hover, a.tab-label.active-btn {
	background: #FFCB27;
	color: #fff;
}
#contact {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 2em 2em;
	position: relative;
	z-index: 2;
}
#contact input, #contact textarea {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px;
}
form.customform button.color-btn {
	height: auto;
	margin-top: 0;
}
#contact h2 {
	margin: 0 0 1.25em;
}
#contact h3 {
	color: #152732;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.625em;
	text-transform: uppercase;
}
#contact p {
	font-size: 0.85em;
	font-style: normal;
	line-height: 2em;
}
#contact p strong {
	font-weight: 700;
}
#contact i {
	background: #e0e0e0 none repeat scroll 0 0;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	line-height: 26px;
	margin: 0.625em;
	text-align: center;
	width: 26px;
}

#cont {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 2em 2em;
	position: relative;
	z-index: 2;
}
#cont input, #cont textarea {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px;
}
form.customform button.color-btn {
	height: auto;
	margin-top: 0;
}
#cont h2 {
	margin: 0 0 1.25em;
}
#cont h3 {
	color: #92c500;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.625em;
	text-transform: uppercase;
}
#cont p {
	font-size: 0.85em;
	font-style: normal;
	line-height: 2em;
}
#cont p strong {
	font-weight: 700;
}
#cont i {
	background: #e0e0e0 none repeat scroll 0 0;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	line-height: 26px;
	margin: 0.625em;
	text-align: center;
	width: 26px;
}





#map-block {
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);    
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}
footer {
	background: none repeat scroll 0 0 #006;
	padding: 1.5em 0;
}
footer p, footer a:visited, footer a, footer a:hover {
	color: #fff;
	font-size: 0.8em;
}
@media screen and (max-width: 768px) {
  header {
  	position: relative;
  }
  .top-nav li a {
  	background: #05374e none repeat scroll 0 0;
  }
  #carousel .text {
  	font-size: 0.8em;
  	top: 20%;
  }
  .owl-controls.clickable {
  	display: none!important;
  }
  .right {
  	float: none;
  }
  .social.right {
  	float: right;
  }
  #about-us article {
  	padding: 4em 2.5em;
  }
}
@media screen and (max-width: 480px) {
  #topbar {
  	line-height: 1.625em;
  	text-align: center;
  }
  .social.right {
  	float: none;
  }
  p.logo, p.nav-text {
  	text-align: center;
  }
}

/*row-slider*/
.row-slider{
padding-top: 20px;
 vertical-align: middle; 
  padding-bottom: 20px;
}
.title{
padding-top: 100px;
text-align: center;
}
.list-style{
list-style: none;
left:0%;
}

.flexslider .slides ul li{
	width: 100%;
}

.flexslider .slides img {
	width: 100%;
}

.w3-container:after,.w3-container:before
{content:"";
display:table;
clear:both;
padding:0.01em 16px;}

.w3-content{max-width:980px;margin:auto}

.w3-display-container{position:relative}
.w3-display-container:hover

.w3-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;
color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

.w3-button:disabled{cursor:not-allowed;opacity:0.3}

.w3-button:first-child

.w3-button:first-child{background-color:#ccc;color:#000}

.w3-button{width:5%;text-align:left;padding:8px 16px}
.w3-button{white-space:normal}

.w3-button{
width:5%;
}

.w3-button:hover{color:#000!important;background-color:#ccc!important}


.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}

.w3-black:hover{color:#fff!important;background-color:#000!important}

.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

#scroller li {
  list-style:none;
}

#scroller li .title {
  font-weight:bold;
}

#scroller li .title:after {
  content:"»";
  font-weight:normal;
  margin:0 3px 0 15px;
}

#scroller li p {
  display:inline-block;
  margin:2px 0 0;
